@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: rgb(17, 07, 19);
}
#about{
  padding: 2rem;
  margin-top: 50;
}
